.debug-bar-give-table h3 {
	font-family: georgia, times, serif;
	font-size: 22px;
	margin-top: 1.2em;
	clear: both;
}

table.debug-bar-give-filters {
	width: 100%;
	border-collapse: collapse;
	cell-padding: 1em;
	clear: both;
	line-height: 1.5;
	font-size: 12px;
	table-layout: auto;
}

table.debug-bar-give-filters thead th,
table.debug-bar-give-filters tfoot th {
	padding: 0.7em 5px;
	width: auto;
	text-align: center;
	background-color: #E8E8E8;
}

table.debug-bar-give-filters tr {
	border-bottom: 1px solid #ccc;
}

table.debug-bar-give-filters thead th,
table.debug-bar-give-filters thead td,
table.debug-bar-give-filters tfoot th,
table.debug-bar-give-filters tfoot td {
	border: 1px solid #ccc;
}

table.debug-bar-give-filters tbody th,
table.debug-bar-give-filters tbody td {
	padding: 10px 2em 5px 5px;
	vertical-align: top;
	border: 1px solid #ccc;
}

table.debug-bar-give-filters tbody th {
	font-weight: bold;
	text-align: left;
	max-width: 300px;
}

table.debug-bar-give-filters td.prio {
	text-align: right;
}

table.debug-bar-give-filters td ul {
	margin: 0;
}

.debug-bar-give-table ul,
.debug-bar-give-table ol {
	padding: 0 0 0 30px !important;
}

.debug-bar-give-table ul {
	list-style-type: square !important;
}

.debug-bar-give-table ul li em {
	color: #999999;
}
